<%= form_with(model: char_attribute, local: true) do |form| %>
  <% if char_attribute.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(char_attribute.errors.count, "error") %> prohibited this char_attribute from being saved:</h2>

      <ul>
        <% char_attribute.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :value %>
    <%= form.number_field :value %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
