<div class="text-center">
    <h1>Welcome to RPG editor</h1>
    <% if !current_user %>
    <p class="card-text">Login or Signup to make new character</p>
    <p>
        <%= link_to "All Characters", characters_path,  :class => "btn btn-primary"%>
        <%= link_to "Sign Up",new_user_registration_path, :class => "btn btn-primary" %>
        <%= link_to "Login",new_user_session_path, :class => "btn btn-primary" %>
    </p>
    <% end %>
</div>
<div class="text-center">
    <% if current_user %>
    <h2>Please choose your option:</h2>
    <br>
    <%= link_to "Show All Characters", characters_path, :class => "btn btn-primary" %>
    <%= link_to "Show My Characters", user_path(current_user), :class => "btn btn-primary" %>
    <%= link_to "Create New character", new_character_path, :class => "btn btn-primary" %>
    <%= link_to "Logout", destroy_user_session_path, :class => "btn btn-primary" %>
</div>
<% end %>
