<div class="nested-fields">
    <br>
    <p>
        <%= f.label :name %>
        <%= f.text_field :name %>
    </p>
    <p>
        <%= f.label :value %>
        <%= f.number_field :value %>
    </p>
    <p>
        <%= f.label :avatar_icon %>
        <%= f.file_field :avatar_icon %>
    </p>
    <%= link_to_remove_association "Remove attribute", f, class: 'btn btn-danger' %>
    <br>
    <br>
</div>
