<div class="text-center">
    <h1>All Characters: </h1>
    <br>
    <br>
    <table class="characters">
        <tbody>
            <% @characters.each do |character| %>
            <tr>
                <td>
                    <%= character.name %>
                </td>
                <td>
                    <%= link_to 'Show',character, :class => "btn btn-primary btn-sm" %>
                </td>
                <% if user_signed_in?  && character.user_id == current_user.id %>
                <td>
                    <%= link_to 'Edit', edit_character_path(character),:class => "btn btn-primary btn-sm" %>
                </td>
                <td>
                    <%= link_to 'Destroy', character, method: :delete, data: { confirm: 'Are you sure?' },:class => "btn btn-primary btn-sm btn-danger"  %>
                </td>
            </tr>
            <% end %>
        <% end %>
        </tbody>
    </table>
    <br>
    <% if user_signed_in? %>
    <%= link_to 'New Character', new_character_path,:class => "btn btn-primary" %>
    <% end %>
    <br>
    <br>
    <div class="container pagination justify-content-center">
        <%= paginate @characters %>
    </div>
</div>
